.nav-mobile {
  border-top: 1px solid var(--p-toolbar-border-color);
}

.nav-item {
  ::ng-deep.p-button {
    padding: 0.125rem;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 0.75rem;
    gap: 0.125rem;
  }

  ::ng-deep.p-button-label {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.5rem;
  }

  ::ng-deep.p-button-icon {
    display: flex;
    align-items: center;
    height: 1.5rem;
  }
}

.nav-item.active {
  ::ng-deep.p-button {
    color: var(--p-button-text-primary-color);
  }

  ::ng-deep.p-button-text.p-button-secondary:not(:disabled):hover {
    background-color: transparent;
  }

  ::ng-deep.p-avatar {
    border: 1px solid currentColor;
  }
}
