<div class="flex justify-center items-center h-full">
  <p-card class="max-w-sm md:max-w-4xl w-full" styleClass="card">
    <div class="md:flex w-full">
      <div
        class="flex flex-col justify-center w-full md:w-1/2 gap-6 py-10 px-5 md:px-10 md:min-h-[34rem]"
      >
        <div class="text-center">
          <h1 class="font-bold text-3xl">Sign up</h1>
        </div>

        <form class="flex flex-col gap-4">
          <div>
            <label for="email1" class="block text-900 font-medium mb-2">
              Email
            </label>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-user" />
              <input
                pInputText
                type="text"
                class="w-full"
                placeholder="john@example.com"
              />
            </p-iconfield>
          </div>
          <div>
            <label for="email1" class="block text-900 font-medium mb-2">
              Password
            </label>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-lock" />
              <input
                pInputText
                type="password"
                class="w-full"
                placeholder="********"
              />
            </p-iconfield>
          </div>

          <button
            pButton
            label="Sign up"
            icon="pi pi-user-plus"
            class="w-full"
          ></button>
        </form>

        <div class="text-center">
          <p>
            Already have an account?
            <a
              [routerLink]="['../login']"
              class="no-underline text-primary cursor-pointer font-semibold"
            >
              Log in
            </a>
          </p>
        </div>
      </div>
      <div
        appViewTransition="auth-illustration"
        class="hidden md:block w-1/2 bg-primary bg-cover bg-no-repeat bg-center bg-[url('/images/login.jpeg')]"
      ></div>
    </div>
  </p-card>
</div>
