<header class="container mx-auto">
  <p-toolbar
    styleClass="text-inherit bg-transparent rounded-none border-0 px-4 box-content h-12"
  >
    <ng-content />
    <ng-template #start>
      <ng-container *ngTemplateOutlet="startTemplate() ?? null"></ng-container>
    </ng-template>
    <ng-template #center>
      <ng-container *ngTemplateOutlet="centerTemplate() ?? null"></ng-container>
    </ng-template>
    <ng-template #end>
      <ng-container *ngTemplateOutlet="endTemplate() ?? null"></ng-container>
    </ng-template>
  </p-toolbar>
</header>
