<div class="flex justify-center items-center h-full">
  <p-card class="max-w-sm md:max-w-4xl w-full" styleClass="card">
    <div class="md:flex w-full">
      <div
        appViewTransition="auth-illustration"
        class="hidden md:block w-1/2 bg-primary bg-cover bg-no-repeat bg-center bg-[url('/images/login.jpeg')]"
      ></div>
      <div
        class="flex flex-col justify-center w-full md:w-1/2 gap-4 py-10 px-5 md:px-10"
      >
        <div class="text-center">
          <h1 class="font-bold text-3xl">{{ "AUTH.SIGN_IN" | translate }}</h1>
        </div>

        <div class="flex gap-4">
          <button
            pButton
            [label]="'AUTH.PROVIDER.GOOGLE' | translate"
            icon="pi pi-google"
            outlined
            class="w-full"
            (click)="loginWithGoogle()"
            [disabled]="disabled()"
          ></button>
          <button
            pButton
            [label]="'AUTH.PROVIDER.GITHUB' | translate"
            icon="pi pi-github"
            outlined
            class="w-full"
            (click)="loginWithGithub()"
            [disabled]="disabled()"
          ></button>
        </div>

        <p-divider align="center">
          <p class="text-sm font-medium uppercase">
            {{ "AUTH.OR" | translate }}
          </p>
        </p-divider>

        <form
          class="flex flex-col gap-4"
          [formGroup]="form"
          (ngSubmit)="onSubmit()"
        >
          <div>
            <label for="email" class="block text-900 font-medium mb-2">
              {{ "AUTH.FORM.EMAIL" | translate }}
            </label>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-user" />
              <input
                id="email"
                pInputText
                formControlName="email"
                type="text"
                class="w-full"
                placeholder="john@example.com"
              />
            </p-iconfield>
          </div>
          <div>
            <label for="password" class="block text-900 font-medium mb-2">
              {{ "AUTH.FORM.PASSWORD" | translate }}
            </label>
            <p-iconfield>
              <p-inputicon styleClass="pi pi-lock" />
              <input
                id="password"
                pInputText
                formControlName="password"
                type="password"
                class="w-full"
                placeholder="********"
              />
            </p-iconfield>
            <div class="flex justify-end">
              <button appLinkButton type="button" (click)="resetPassword()">
                {{ "AUTH.RESET_PASSWORD" | translate }}
              </button>
            </div>
          </div>

          <button
            pButton
            [label]="'AUTH.SIGN_IN' | translate"
            icon="pi pi-sign-in"
            class="w-full"
            [disabled]="disabled()"
          ></button>
        </form>

        <div class="text-center">
          <p>
            {{ "AUTH.DONT_HAVE_ACCOUNT" | translate }}
            <a appLinkButton [routerLink]="['../register']">
              {{ "AUTH.SIGN_UP" | translate }}
            </a>
          </p>
        </div>
      </div>
    </div>
  </p-card>
</div>
