<p-menu #menu popup [model]="items()" styleClass="py-1 px-0.5 min-w-32!">
  <ng-template let-country #item>
    <div class="flex items-center gap-2 cursor-pointer px-1.5 py-0.5">
      <img
        [src]="country.flagUrl"
        [alt]="country.name"
        class="w-4 rounded-xs aspect-3/2 object-cover"
      />
      <div>
        {{ country.name | translate }}
      </div>
    </div>
  </ng-template>
</p-menu>

<button
  pButton
  text
  rounded
  iconPos="right"
  size="small"
  [icon]="'pi ' + (menu.visible ? 'pi-chevron-up' : 'pi-chevron-down')"
  [label]="selectedItem().name | translate"
  [loading]="loadingLanguage()"
  (click)="menu.toggle($event)"
>
  <img
    [src]="selectedItem().flagUrl"
    [alt]="selectedItem().name"
    class="w-4 rounded-xs aspect-3/2 object-cover"
  />
</button>
