<p-menu #menu popup [model]="items()">
  <ng-template let-country #item>
    <div class="flex items-center p-menu-item-link">
      <img
        [src]="country.flagUrl"
        [alt]="country.name"
        class="w-4 rounded-xs aspect-3/2 object-cover"
      />
      <span>
        {{ country.name | translate }}
      </span>
    </div>
  </ng-template>
</p-menu>

<button
  #toggleButton
  pButton
  text
  rounded
  icon="pi pi-globe"
  [loading]="loadingLanguage()"
  (click)="menu.toggle($event)"
></button>
